---
layout: single
title: "Publications"
excerpt: "Publications"
author_profile: true
---

<div style="font-size: medium;">
<h2>As the first author</h2>
{% for publication in site.data.publications.first_author %}
<div style="margin-bottom: 1.3em; display:block; width: 100%; overflow: auto; clear: both; text-align: justify;">
    <a href="{{ publication.url }}">{{ publication.title }}</a>
  <div style="clear: both; display: block; overflow: auto;">
    <div style="float: left; width: {%if publication.journal %} 75% {% else %} 100% {% endif %}">
        {{ publication.description }}
    </div>
    {% if publication.journal %}
    <div style="float: right; width: 20%">
      {{ publication.journal }}
    </div>
    {% endif %}
  </div>
  {% if publication.blog_post %}
    <div style="font-size: medium;">
      <a href="{{ publication.blog_post }}">Read more in the blog post >> </a>
    </div>
  {% endif %}
</div>
{% endfor %}


<h2>As a co-author</h2>
{% for publication in site.data.publications.co_author %}
<div style="margin-bottom: 1.3em; display:block; width: 100%; overflow: auto; clear: both; text-align: justify;">
    <a href="{{ publication.url }}">{{ publication.title }}</a>
  <div style="clear: both; display: block; overflow: auto;">
    <div style="float: left; width: {%if publication.journal %} 75% {% else %} 100% {% endif %}">
        {{ publication.description }}
    </div>
    {% if publication.journal %}
    <div style="float: right; width: 20%">
      {{ publication.journal }}
    </div>
    {% endif %}
  </div>
  {% if publication.blog_post %}
    <div style="font-size: medium;">
      <a href="{{ publication.blog_post }}">Read more in the blog post >> </a>
    </div>
  {% endif %}
</div>
{% endfor %}


<h2>Pre-prints</h2>
{% for publication in site.data.publications.pre_prints %}
<div style="margin-bottom: 1.3em; display:block; width: 100%; overflow: auto; clear: both; text-align: justify;">
    <a href="{{ publication.url }}">{{ publication.title }}</a>
  <div style="clear: both; display: block; overflow: auto;">
    <div style="float: left; width: {%if publication.journal %} 75% {% else %} 100% {% endif %}">
        {{ publication.description }}
    </div>
    {% if publication.journal %}
    <div style="float: right; width: 20%">
      {{ publication.journal }}
    </div>
    {% endif %}
  </div>
  {% if publication.blog_post %}
    <div style="font-size: medium;">
      <a href="{{ publication.blog_post }}">Read more in the blog post >> </a>
    </div>
  {% endif %}
</div>
{% endfor %}
</div>